#b{display: inline;
    margin-left: 95%;
    border: 3px solid white;
  
    background-color: antiquewhite;
    } 
   #b{ width: 80px;height: 80px; 
            position: fixed;
            left: -15px;
            bottom: 0;
         border-radius: 50%; }
         #gtw{height: 700px;}
         #gd{height: 700px;}
     
     #c{border: 2px dashed white;
        width: 500px;
        margin-left:36%; 
        animation-name: c;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
     }
     @keyframes c{0%{opacity: 0;}50%{color:orangered;}100%{opacity: 1;}}

     #c :hover{color: orange;}
     .carousel-inner{
     border: 30px ridge black;
     padding: 75px;
     height: 800px;
    }
     .f{width: 300px;height: 300px;}
     .f{float: left;}
     .e{height: 300px;font-size: larger;font-weight: bold;color: white;
    text-indent: 20px;}
     
    
     .v{
      
      background-color: antiquewhite;
      width: 300px;height: 60px;
      cursor: grab; 
      font-weight: bold;
      font-size: large;}
    .v:hover{color: yellowgreen;}
     .g{
      
      font-weight: bold;
      font-size: large;
      background-color: antiquewhite;
      width: 300px;height: 60px;
      cursor: grab;}
    .g:hover{color: yellowgreen;}
    #a{
        background-image:url(img/—Pngtree—blackboard\ texture\ black\ background_3578716.png);}

      .card{ 
            
             background-color: transparent;
             color: white;
             border: 2px solid white;}
       
        
#h{
  color: white;
  float: left;
  margin-right: 700px;
  
}
#i{color:white;
   float: none;
}

#one{
    background-color: antiquewhite;}
#one{
  border: 2px solid black;
} 
h2{color: white;
  background-color: brown;
   border: 3px white ridge;
   padding-left: 1000px;}
   
 .eat{
 background-image: url(img/kkkk.png);
 background-repeat: no-repeat;
 width: 850px;
  
  
}

.l{color: red;
    cursor: default;
     
    }
.l:hover{ 
        transform: scale(0.3,0.3);
         transition:3s ;
        
        
          
       }
.cardfoot{
  height: 400px;
}
.textcard{font-size: 90px;
           font-weight: bold;}
#buttonone{text-decoration: none;}
 #button{
        padding-left: 900px;
        background-color: orange;
 } 
 #d{padding-left: 900px;}
 #button:hover{background-color: black;}
#bu{padding-left: 890px;}

 .eatt{border: 2px solid white;
       margin-left: 100px;
       background-image: url(img/eat.png);
        background-repeat: no-repeat;
        width: 640px;} 
.j{color: red;
  cursor: default;}
.j:hover{
  transform: scale(0.3,0.3);
  transition:3s ;}

.eattn{
  background-image: url(img/croquettes-6384836_640.jpg);
   background-repeat: no-repeat;
   border: 2px solid white;
  width: 640px;
  height: 450px;
  margin-top: 20px;
  margin-left: 130px;}
.k{color: red;
  cursor: default;
   }
   .k:hover{transform: scale(0.3,0.3);
           transition:3s ;
            }
 .m{height: 303px;
    float: left;}   
 .n{height: 300px;
    width: 500px;
    color: white;}
 .n:hover{color: orange;}
.eatta{background-image: url(img/za.png);
    background-repeat: no-repeat;
   width: 760px;
   height: 500px;
   border: 2px solid white;
  margin-top: 20px;
  margin-left: 18px;
}
.imgfl{float: right;}
 #fool{clear: both;}
.nst{color: red; cursor: default;height: 150px;}
.nst:hover{transform: scale(0.3,0.3);
           transition:3s ;}
.name{color: white;
      margin-left: 850px; }
.hr{color: white;}
#youtube{width: 50px;}







 #as{background-image:url(img/—Pngtree—blackboard\ texture\ black\ background_3578716.png);}
 #cx{float: left;}
 #cz{float: right;
     }
 #cv{padding-left: 690px;
     }
     #ns:hover{color: orange;
      ;}
    #ns{border: 2px dashed white;
      margin-left: 710px;
      width: 500px;
       }
        #ns{animation-name:ns ;
           animation-duration: 3s;
            animation-delay: 0s;
            animation-iteration-count: infinite;
             animation-direction: normal;}
       @keyframes ns{0%{opacity: 0;}
      50%{color:orangered }100%{opacity: 1;}}
     
    #xc{height: 200px;}
    #xv{height: 200px;}
    #xb{height: 200px;}
    #xd{height: 200px;}
    #xf{height: 200px;} 
    #xh{height: 200px;}
    #xh{height: 200px;}  
    #xl{height: 200px;}
    #cx{height: 200px;}
    #cz{height: 200px;}
    #cb{height: 200px;}
    #cf{height: 200px;}
    #ds{height: 200px;} 
    #da{height: 200px;}
    #dg{height: 200px;}
   #form{background-color: #aaa;
         width: 50%;
        margin-left:-30px;
       padding: 20px;
      border-radius: 10px; }  
    #mm{height: 200px;}
    #ty{height: 200px;}
    #uj{height: 200px;}  
    #mj{height: 200px;}   
    #gt{height: 200px;} 
    #gf{height: 200px;} 
    #gr{height: 200px;}
    #gn{height: 200px;}
    /* #mk{height: 20px;}   */
    #bb{margin-left: 40%;}
    #ss{color: white;}
    samp{text-decoration: line-through;color: red;}
    #csd{color: white;
         text-decoration: none;}
    #ent{text-decoration: none; 
         color: white;}




    #onefoot{background-image:url(img/—Pngtree—blackboard\ texture\ black\ background_3578716.png) ;}
    #qa{color: white;
        font-size: 50px;
         margin-left: 45%;} 
    #tu{width: 50px; 
        height: 50px;
        margin-bottom: -500px;
        animation-name:tu;
        animation-duration: 3s;
        animation-timing-function: linear;
       animation-iteration-count: infinite;
       animation-direction:normal;
      }

       @keyframes tu{0%{opacity: 0;}100%{opacity: 1;}
      }
     #tk{width: 50px; 
      height: 50px;
      margin-bottom: -500px;
      animation-name:tk;
        animation-duration: 3s;
        animation-timing-function: linear;
       animation-iteration-count: infinite;
       animation-delay: 1s;}
       @keyframes tk{0%{opacity: 0;}100%{opacity: 1;}} 
      #tm{width: 50px; 
        height: 50px;
        margin-bottom: -500px;
        animation-name:tm;
        animation-duration: 3s;
        animation-timing-function: linear;
       animation-iteration-count: infinite;
       animation-delay: 2s;}
       @keyframes tm{0%{opacity: 0;}100%{opacity: 1;}} 
       #footht{ 
               margin-left: 45%;
              width: 100px;
             height: 50px;}
       #csdd{font-size: 23px;color: white;text-decoration: none;}                  
    
    
    
